.period {
  width: 16%;
  height: 300px;
  color: #fff;

  background-color: var(--background);
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;
    .wind {
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: 20px;
      }
    }
  }
  img {
    width: 100%;
    height: 60px;
  }
}
.period:hover {
  background: #a9a9a971;
  transition: 0.5s ease-in-out;
}

@media (max-width: 400px) {
  .info {
    gap: 20px;
    font-size: 10px;
    .wind {
      img {
        display: none;
      }
    }
  }
}
