.period {
  width: 16%;
  height: 500px;
  color: #fff;

  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .info{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
  }
}
.period:hover {
  background: #a9a9a971;
  transition: 0.5s ease-in-out;
}
